@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
h3{
    font-family: Rockwell; 
    font-style: italic;
    font-size: 32px;
}
h6{
    font-family: Rockwell; 
    font-style: italic;
    font-size: 20px;
    letter-spacing: 3px;
    color: #4D4D4D;
}
p{
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 600;
}
button{
    background-color: #fff;
    border: none;
    color: #252568;
    font-family: Rockwell; 
    font-style: italic;
    font-size: 26px;
    font-weight: 550;
    line-height: 30px;
}
ul{
    list-style-type: none;
}

html{
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
}
.wrapper{
    font-size: 22px;
    font-weight: 300;
    display: flex;
    flex-wrap: wrap;
    padding: 2vw 3vw 0;
    justify-content: center;
}
nav{
    width:18vw;
    height: 42.75vw;
    background-color: #252568;
    display: grid;
    grid-template-columns: 18vw;
    grid-template-rows: 18vw auto;
    justify-items: center;
}
.con_navbar{
    display: none;
}
.con_logo{
    display: grid;
    align-items: center;
    justify-items: center;
    color: white;
    grid-template-columns: 10vw;
    grid-template-rows: 8vw 5vw;
    padding-top: 3.5vw;
    letter-spacing:3px; 
    font-size: 28px; 
}
.img_logo{
    width:9vw;
}
.t_logoname{
    margin-top:20px;
}
nav ul{
    width:100%;
    text-align: center;
    letter-spacing:1px;    
}
nav li{
    height: 3.5vw;
    outline: 1px solid white;
    background-color: #FFC41E;
    padding: 1vw;
}
header{
    margin-left:0.8vw;
    width:74vw;
}
.con_carousel{
    width:74vw;
}
.img_carousel{
    width:74vw;
}
.con_link{
    position: absolute;
    z-index: 1;
    right: 2.5vw;
    top:2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img_link{
    margin:0.25vw 0.25vw;
    max-width: 55px;
    width: 4vw;
}
@media screen and (max-width:1450px) {
    header{
        width:73vw;
    }
    .con_carousel{
        width:73vw;
    }
    nav{
        grid-template-rows: 18vw auto;
        height: 42.2vw;
    }
    /* .con_logo{
        grid-template-rows: 4vw 8vw;
    } */
    nav li{
        padding: 1vw;
        font-size: 18px;
        min-height: 30px;
    }
    .t_logoname{
        font-size: 2vw;
    }
}
@media screen and (max-width:770px) {
    header{
        width:72.5vw;
    }
    .con_carousel{
        width:72.5vw;
    }
    nav{
        height: 41.8vw;
    }
}
@media screen and (max-width:768px) {
    nav{
        width:100vw;
        height: 15vw;
        background-color: #fff;
        grid-template-columns: auto;
        grid-template-rows: 15vw;
        justify-items: center;
    }
    .con_navbar{
        display: block;
        margin-top:2vw;
        position: fixed;
        z-index: 10;
    }
    input{
        z-index: 2;
        width: 45px;
        height: 35px;
        position: absolute;
        cursor: pointer;
        opacity: 0; /* hide this */
        z-index: 4; /* and place it over the hamburger */
        margin-left:-1vw;
        position: fixed;
        z-index: 11;
    }
    span
    {
        display: block;
        width: 45px;
        height: 6px;
        position: relative;
        background: #707070;
        margin-bottom: 8px;
        border-radius: 50px;
        z-index: 10;
        margin-left:-1vw;
        
        transform-origin: 4px 0px;
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
    }
    
    span:first-child
    {
        transform-origin: 0% 0%;
    }
    
    span:nth-last-child(3)
    {
      transform-origin: 0% 100%;
    }
    .menu{
        background-color: #FFC41E;
        width: 100vw;
        height: 35vw;
        position: absolute;
        position: fixed;
        margin:-2vw -3vw;
        padding: 10vw 5vw 2vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        z-index: 9;
        transform: translateY(-100%);
        opacity: 0;
        transition: 1s cubic-bezier(0.77,0.2,0.05,1.0);
        transform-origin: 0% 0%;
    }
    .menu li{
        width: 25vw;
        border-radius: 50px;
        background-color: #fff;
        box-shadow: 2px 2px 6px rgb(167, 167, 167);
        padding: 0.75vw;
        outline: none;
        margin:5px 50px 0 50px;
    }
    input:checked ~ span
    {
        opacity: 1;
        transform: rotate(45deg) translate(-3px, -3px);
        background-color: #fff;
    }
    input:checked ~ span:nth-last-child(2)
    {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    input:checked ~ span:nth-last-child(1)
    {
      transform: rotate(-45deg) translate(0, -1px);
    }
    .menu_active{
        transform: none;
        opacity: 0.7;
        transition: 1s cubic-bezier(0.77,0.2,0.05,1.0)
    }
    .con_logo{
        align-items: start;
        justify-items: center;
        color: #252568;
        grid-template-columns: 10vw;
        grid-template-rows: 10vw auto;
        padding-top: 0vw;
        letter-spacing:3px; 
        font-size: 30px; 
    }
    .img_logo{
        width:9vw;
    }
    .t_logoname{
        margin-top:0px;
        font-size: 20px; 
    }
    header{
        width:90vw;
    }
    .con_carousel{
        width:90vw;
    }
    .con_link{
        top:3vw;
    }
    .img_link{
        width: 5vw;
    }
}
@media screen and (max-width:320px) {
    input{
        width: 35px;
        height: 25px;
    }
    span
    {
        width: 35px;
        height: 4px;
        margin-bottom: 5px;
    }
    .menu{
        width: 100vw;
        height: 50vw;
        margin:-2vw -3vw;
        padding: 10vw 0vw 0vw;
    }
    .menu li{
        width: 26vw;
        padding: 2vw;
        outline: none;
        margin:5px 5vw 0 4vw;
        font-size: 16px;
    }
    input:checked ~ span
    {
        opacity: 1;
        transform: rotate(45deg) translate(-3px, -3px);
        background-color: #fff;
    }
    input:checked ~ span:nth-last-child(2)
    {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    input:checked ~ span:nth-last-child(1)
    {
      transform: rotate(-45deg) translate(0, -1px);
    }
    .menu_active{
        transform: none;
        opacity: 0.7;
        transition: 1s cubic-bezier(0.77,0.2,0.05,1.0)
    }
    .img_logo{
        width:15vw;
    }
    .t_logoname{
        margin-top:20px;
        font-size: 16px; 
        letter-spacing: 1px;
    }
    header{
        width:98.5vw;
        margin-top:35px;
        margin-left:1.2vw;
    }
    .con_carousel{
        width:98.5vw;
    }
    .con_link{
        top:3vw;
    }
    .img_link{
        width: 10vw;
    }
}


/* slick */
.slick-dots{
    position: absolute;
    top:-3vw;
    z-index: 2;
}
.slick-dots li{
    margin:0 15px;
}
.slick-dots li button:before {
    width: 1vw;
    height: 1vw;
    border-radius: 50px;
    background-color: #252568;
    color:rgba(0, 0, 0, 0);
}
.slick-dots li.slick-active button:before{
    color:rgba(0, 0, 0, 0);
    background-color: #FFC41E;
}
@media screen and (max-width:768px) {
    .slick-dots{
        top:6vw;
        left:2vw;
    }
    .slick-dots li{
        margin:0 10px;
    }
    .slick-dots li button:before {
        width: 10px;
        height: 10px;
    }
}
@media screen and (max-width:320px) {
    .slick-dots{
        top:-7vw;
        left:2vw;
    }
    .slick-dots li{
        margin:0 5px;
    }
}

section{
    width: 100%;
    display: flex;
    line-height: 30px;
    color: #252568;
    margin: 2.5vw 0;
}

.section1 .ar_l{
    display: grid;
    grid-template-columns: 17.25vw 16vw 29.5vw;
    grid-template-rows: 20.5vw 25.25vw;
    grid-gap: 1vw;
}
.section1 .ar_mbottom{
    display: none;
}
.img_arl1{
    grid-row: 1;
    grid-column: 1 / 2;
    width:34.25vw;
}
.img_arl2{
    grid-row: 2;
    grid-column: 1 / 2;
    width:17.25vw;
}
.img_arl3{
    grid-row: 2;
    grid-column: 2 / 3;
    width:16vw;
}
.img_arl4{
    grid-row: 1;
    grid-column: 3 / 4;
    width:29.5vw;
}

.section1 .ar_r{
    border-top:3px solid #707070;
    border-bottom:3px solid #707070;
    width:26vw;
    margin-left: 2vw;
    height: 46.75vw; 
}
.section1 h3{
    margin-top:2.5vw;
}
.section1 h6{
    padding:0 0.25vw;
    margin-top:4vw;
}
.section1 p{
    padding:0 0.25vw;
    margin-top:0.25vw;
    font-family: Rockwell; 
    font-style: italic;
}
button{
    position: absolute;
    top: 42vw;
    right: 1vw;
}

@media screen and (max-width:1460px) {
    .section1 h6:nth-child(6){
        display: none;
    }
    .section1 p:nth-child(7){
        display: none;
    }
    button{
        position: absolute;
        top: 40vw;
        right: 1vw;
    }
}
@media screen and (max-width:1170px) {
    .section1 h6:nth-child(4){
        display: none;
    }
    .section1 p:nth-child(5){
        display: none;
    }
}

@media screen and (max-width:768px) {
    .section1{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .section1 .ar_l{
        display: none;
    }
    .section1 .ar_mbottom{
        width: 100vw;
        display: block;
        display: grid;
        grid-template-columns: 25% 23.5% 43%;
        grid-template-rows: 30vw 37vw;
        grid-gap: 2vw;
        margin-left: 4vw;
    }
    .section1 .ar_r{
        width:70vw;
        margin-left: 0vw;
        margin-bottom: 5vw;
        height: 50vw; 
    }
    .section1 h3{
        margin-top: 10px;
    }
    .section1 h6{
        font-size: 18px;
    }
    .section1 p{
        font-size: 18px;
    }
    .section1 h6:nth-child(4){
        display: block;
    }
    .section1 p:nth-child(5){
        display: block;
    }
    button{
        top: 42vw;
        font-size: 26px;
    }
    .img_arl5{
        grid-row: 1;
        grid-column: 1 / 2;
        width: 50.5vw;
    }
    .img_arl6{
        grid-row: 2;
        grid-column: 1 / 2;
        width: 25vw;
    }
    .img_arl7{
        grid-row: 2;
        grid-column: 2 / 3;
        width: 23.5vw;
    }
    .img_arl8{
        grid-row: 1;
        grid-column: 3 / 4;
        width: 43vw;
    }
}
@media screen and (max-width:700px) {
    .section1 .ar_r{
        height: 40vw; 
    }
    .section1 h6:nth-child(4){
        display: none;
    }
    .section1 p:nth-child(5){
        display: none;
    }
    button{
        top: 30vw;
        font-size: 26px;
    }
}


@media screen and (max-width:320px) {
    /* .section1 .ar_mbottom{
        width: 100vw;
        display: block;
        display: grid;
        grid-template-columns: 25% 23.5% 43%;
        grid-template-rows: 30vw 37vw;
        grid-gap: 2vw;
        margin-left: 4vw;
    } */
    .section1 .ar_r{
        width:75vw;
        margin-bottom: 10vw;
        height: 70vw; 
    }
    .section1 h3{
        font-size: 20px;
    }
    .section1 h6{
        font-size: 12px;
        letter-spacing: 0px;
        margin-top:1vw;
    }
    .section1 p{
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.5px;
        margin-top:-1.5vw;
    }
    .section1 h6:nth-child(4){
        display: block;
    }
    .section1 p:nth-child(5){
        display: block;
    }
    button{
        top: 55vw;
        font-size: 18px;
    }
    .img_arl5{
        grid-row: 1;
        grid-column: 1 / 2;
        width: 50.5vw;
    }
    .img_arl6{
        grid-row: 2;
        grid-column: 1 / 2;
        width: 25vw;
    }
    .img_arl7{
        grid-row: 2;
        grid-column: 2 / 3;
        width: 23.5vw;
    }
    .img_arl8{
        grid-row: 1;
        grid-column: 3 / 4;
        width: 43vw;
    }
}

.section2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.section2 h3{
    margin-bottom: 40px;
}
.con_visit{
    width: 100%;
    display:block;
    display: flex;
    justify-content: space-around;
}
.img_visit1{
    width:29vw;
}
.img_visit2{
    width:30vw;
}
.img_visit3{
    width:31vw;
}
.box{
    position: absolute;
    width:75px;
    height: 75px;
}
.box_r{
    right: -17.5px;
    top: -37.5px;
    background-color: #FFC41E;
}
.box_l{
    left: -20px;
    bottom: -35px;
    background-color: #252568;
}
.con_visit_s{
    display: none;
}
.con_tvisit{
    width: 100%;
    display:block;
    display: flex;
    justify-content: space-around;
    margin-top:30px;
}
.con_tvisit p:nth-child(1){
    left: -1.25vw;
}
.con_tvisit p:nth-child(2){
    left: -2.5vw;
}
.con_tvisit p:nth-child(3){
    left: -2.25vw;
}
@media screen and (max-width:1460px) {
    .con_tvisit p:nth-child(1){
        left: -1.5vw;
    }
    .con_tvisit p:nth-child(2){
        left: -3vw;
    }
    .con_tvisit p:nth-child(3){
        left: -2.5vw;
    }
}

@media screen and (max-width:768px) {
    .section2{
        margin-top:50px;
    }
    .box{
        width: 5vw;
        height: 24vw;
    }
    .box_r{
        right: -5px;
        top: -10px;
    }
    .box_l{
        left: -5px;
        top: -10px;
    }
    .con_tvisit{
        margin-top:20px;
    }
    .con_tvisit p{
        font-size: 16px;
    }
    .con_tvisit p:nth-child(1){
        left: -2vw;
    }
    .con_tvisit p:nth-child(2){
        left: -4vw;
    }
    .con_tvisit p:nth-child(3){
        left: -3vw;
    }
}
@media screen and (max-width:320px) {
    .con_visit{
        display:none;
    }
    .con_tvisit{
        display:none;
    }
    .con_visit_s{
        display: block;
    }
    .section2 h3{
       font-size: 25px;
    }
    .img_visit_s{
        width: 80vw;
    }
    .box{
        width:5vw;
        height: 660px;
        top: -20px;
    }
    .box_r{
        right: -30px;
    }
    .box_l{
        left: -30px;
    }
    .con_visitob p{
        font-size: 16px;
        text-align: center;
        font-family: Rockwell; 
    }
}



.section3{
    display: flex;
    justify-content: center;
    margin:50px 0 0;
    display: block;
}
.section3_s{
    display: none;
}
.box_arbg{
    border-radius: 50px 50px 0 0;
    width:90vw;
    height: 30vw;
    background-color: #C7DEF0;
    padding: 2.5vw;
    display: flex;
    flex-direction: row;
}
.section3 .ar_r{
    padding: 2.5vw 2.5vw;
    font-family: 'Roboto', sans-serif;
}
.con_ttop{
    width:55vw;
    height: 18vw;
    display: flex;
    justify-content: space-between;
    font-size: 22px;
}
.t_l p{
    font-size: 22px;
    line-height: 35px;
}
.t_l .p_bottom{
    margin-top:3vw;
    width:300px;
    font-weight: 300;
}
.img_map{
    width: 25vw;
    height: auto;
}
.con_ttop ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width:18vw;
    height:250px;
    font-size: 24px;
    color: black;
    font-weight: 500;
    margin:20px 5vw 0 0;
}
.con_ttop li{
    width:10vw;
    height: 60px;
}
.con_email{
    border-radius: 50px;
    height: 60px;
    margin-top:20px;
    background-color: #CFCFCF;
    display: flex;
    flex-wrap: nowrap;
}
.t_enews{
    width: 210px;
    font-family: Rockwell; 
    font-style: italic;
    color:black;
    margin:15px 0 0 30px;
    font-weight: 600;
}
.t_email{
    font-family: Rockwell; 
    font-style: italic;
    color:#4D4D4D;
    margin:15px 0 0 30px;
}
.icon_toright{
    position: absolute;
    right:0;
    margin:8px 10px 0 0;
    width:45px;
}
.line{
    width: 2px;
    height: 100%;
    background-color: white;
}
@media screen and (max-width:1460px) {
    .section3 .ar_r{
        padding: 1.3vw 2.5vw;
    }
    .con_ttop{
        height: 18vw;
    }
    .t_l p{
        font-size: 2vw;
        line-height: 3vw;
    }
    .t_l .p_bottom{
        margin-top:2vw;
        line-height: 2.5vw;
        width:26vw;
    }
    .con_ttop ul{
        margin:0vw 5vw 0 0;
        height:18vw;
    }
    .con_ttop li{
        height: 4vw;
        font-size: 2vw;
    }
    .con_email{
        height: 4vw;
        margin-top:1.75vw;
    }
    .t_enews{
        width: 17vw;
        font-size: 1.75vw;
        margin:1vw 0 0 30px;
    }
    .t_email{
        margin:1vw 0 0 2vw;
        font-size: 1.5vw;
    }
    .icon_toright{
        position: absolute;
        right:0;
        margin:8px 10px 0 0;
        width:3vw;
    }
    .line{
        width: 2px;
        height: 100%;
        background-color: white;
    }
}

@media screen and (max-width:768px) {
    .section3{
        margin:35vw 0 0
    }
    .box_arbg{
        padding: 2.5vw 50px;
    }
    .con_ttop{
        width:45vw;
        height: 20vw;
        font-size: 22px;
        margin-top: -30vw;
        margin-left: 2vw;
    }
    .t_l .p_bottom{
        margin-top:3vw;
        width:45vw;
        font-weight: 300;
    }
    .img_map{
        width: 25vw;
        height: 25vw;
        margin-top: -33vw;
    }
    .con_ttop ul{
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width:70vw;
        height:15vw;
        margin:30vw 0 0 -25vw;
    }
    .con_ttop li{
        width:20vw;
        height: 5vw;
        font-size: 20px;
    }
    .con_email{
        border-radius: 50px;
        width: 72.5vw;
        height: 40px;
        margin-top:27vw;
        margin-left: -26vw;
        background-color: #CFCFCF;
        display: flex;
        flex-wrap: nowrap;
    }
    .t_enews{
        width: 180px;
        font-size: 18px;
        margin:8px 0 0 30px;
        font-weight: 600;
    }
    .t_email{
        font-size: 18px;
        margin:8px 0 0 30px;
    }
    .icon_toright{
        margin:5px 10px 0 0;
        width:30px;
    }
}

@media screen and (max-width:320px) {
    .section3{
        display: none;
    }
    .section3_s{
        display: block;
        margin:0;
    }
    .box_arbg_s{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .con_ttop_s{
        margin-top:80px;
        text-align: center;
    }
    .con_ttop_s p{
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.5px;
        font-family: Rockwell; 
    }
    .img_map_s{
        margin-top:30px;
    }
    .con_sec3bottom_s{
        margin-top:30px;
        padding:30px 20px;
        width:90vw;
        height: 90vw;
        border-radius: 40px 40px 0 0 ;
        background-color: #C7DEF0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .con_sec3bottom_s ul{
        font-size: 18px;
        height: 40vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .con_sec3bottom_s li{
        width: 32vw;
    }
    .con_sec3bottom_s .con_email{
        position: relative;
        width: 80vw;
        height: 40px;
        margin-top: 0vw;
        margin-left: 1vw;
        font-size: 14px;
        display: flex;
        flex-wrap: wrap;
        background-color: #C7DEF0
    }
    .con_sec3bottom_s .t_enews{
        position: relative;
        font-size: 16px;
        margin: 0 0 5px 10px;
        width: 210px;
    }
    .con_sec3bottom_s .con_gray{
        margin-top: 100px 0 0 0;
        background-color: #CFCFCF;
        border-radius: 50px;
        width: 80vw;
        display: flex;
        justify-content: space-between;
    }
    .con_sec3bottom_s .t_email{
        font-size: 16px;
        margin: 5px 0 5px 15px;
    }
}


footer{
    background-color: #252568;
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 100;
    line-height: 30px;
}
@media screen and (max-width:768px) {
    footer{
    font-size: 14px;
    height: 60px;
    }
}
@media screen and (max-width:768px) {
    footer{
    font-size: 10px;
    height: 60px;
    }
}